.menu-list {
  width: 223px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
  background-color: var(--background-color, #fff);
  color: var(--text-color, rgba(22, 24, 35, 1));
  transition: background-color 0.3s ease, color 0.3s ease;

  .menu-item {
    width: 100%;
    min-height: 42px;
    justify-content: flex-start;
    margin-left: 0;

    white-space: nowrap;
    font-weight: 600;

    padding: 10px 8px 10px 16px;

    &:hover {
      background-color: var(--hover-background, rgba(22, 24, 35, 0.03));
    }
  }

  .language {
    font-family: SofiaPro, sans-serif;
    min-height: 40px;
    color: var(--text-color, var(--default-text-color));
    padding: 10px 24px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;

    &:hover {
      background: var(--hover-background, rgba(22, 24, 35, 0.06));
    }
  }
}

// Header

.header {
  display: flex;
  align-items: center;

  position: relative;
  height: 50px;

  margin-top: -8px;
}

.back-btn {
  background-color: transparent;
  height: 100%;

  cursor: pointer;
}

.back-icon {
  margin-left: 28px;
}

.header-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  font-weight: 600;
  line-height: 2.2rem;
}

.items-container {
  overflow: hidden auto;
  max-height: 590px;
}

.separate {
  box-shadow: 0px -1px 1px rgb(0 0 0 / 12%);
}
