.wrapper {
  position: fixed;
  left: 0;
  top: var(--default-layout-header-height);
  width: var(--default-layout-sidebar-width);
  bottom: 0;
  z-index: 99;
  background-color: var(--sidebar-background, var(--background-color));
  color: var(--text-color-secondary, rgba(22, 24, 35, 0.75));
  overflow: hidden auto;
  overscroll-behavior-y: contain;
  perspective: 1px;
  transform-style: preserve-3d;
  perspective-origin: right top;
  transition: background-color 0.3s ease, color 0.3s ease;

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: var(--hover-background-strong, rgba(22, 24, 35, 0.06));
    }
  }
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  padding: 20px 0 26px 8px;
}

.category-container {
  padding: 16px 0;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 8px;
    right: 8px;
    top: 0;
    height: 1px;
    background: var(--border-color-strong, rgba(22, 24, 35, 0.2));
    transform: scaleY(0.5);
  }
}

.title {
  padding: 0 8px;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

.discover-title {
  padding-left: 0;
  padding-bottom: 16px;
}

.discover-container {
  padding: 16px 8px 8px;
}

.support-container {
  padding: 16px 0 0 8px;
}
